# Core dependencies
fastapi==0.115.5
uvicorn[standard]==0.32.1
pydantic[email]==2.10.3
tortoise-orm==0.21.7
asyncpg==0.30.0

# Development and testing
pytest==8.3.4
httpx==0.28.1
pydantic-settings
pytest-asyncio